@inherits LayoutComponentBase

<nav>
    <a href="/">Post new applicant</a>
    <a href="/applicants">See all applicants</a>
    <a href="/kafka">Kafka</a>
</nav>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>